$def with ()

$var title: 联系我们|北京金鼎恒业实验仪器经销部
$var cssfiles: 
$var jsfiles: http://tjs.sjs.sinajs.cn/open/api/js/wb.js
$var activeNav: contact

<style type="text/css">
	#container{
		width: 1000px;
		text-align: center;
		margin: 0 auto;
		height: auto;
	}
	.follow{
		float: right;
		margin-right: 20%;
	}
</style>
<html xmlns:wb="http://open.weibo.com/wb">
<div id="container">
	<a class="follow" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=511320958&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:511320958:50" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
<!-- 	<wb:follow-button uid="2182463087" type="red_3" width="100%" height="24" class="follow" ></wb:follow-button>
 -->
	<iframe width="504" height="558" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/KZgZh"></iframe>
</div>

